.task {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  background-color: var(--gray-300);
  margin-bottom: 0.5rem;
  color: var(--gray-900);
  transition: background 0.2s;
}

.task p {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.task time {
  font-size: 0.75rem;
  color: var(--gray-700);
  text-align: right;
}

.task .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.task .actions {
  display: flex;
  gap: 0.5rem;
}

.task .actions button {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: var(--green-500);
  color: var(--gray-900);
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
}

.task .actions button:not(:disabled):hover {
  color: var(--white);
}

.task .actions button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.task .actions button[role="delete"] {
  background-color: var(--red-500);
}

.task .actions button[role="delete"]:hover {
  background-color: var(--red-500);
}

.task:has(.actions button[role="delete"]:active) {
  background-color: var(--red-500);
  color: var(--white);
}

.task:has(.actions button[role="complete"]:active) {
  background-color: var(--green-500);
  color: var(--white);
}
